.main-section {
  margin: auto;
  width: 80%;
  border: 6px#507823 double;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #2f1250;
  border-radius: 4%;
}

img {
  display: block;
  margin: 0 auto;
}

* {
  font-size: 25px;
}

.services-button a {
  background-color: rgb(5, 78, 5) !important;
  color: white;
}

.service-list li {
  margin-right: 240px;
}

.front-headers {
  padding-top: 20px;
  padding-bottom: 10px;
}
